# Genral
NUXT_PUBLIC_URL=""
ADMIN_PASSWORD=""

# Supabase
SUPABASE_URL=""
SUPABASE_KEY=""
SUPABASE_SECRET_KEY=""

# Resend
RESEND_API_KEY=""

# Stripe
STRIPE_PK=""
STRIPE_SK=""
STRIPE_WEBHOOK=""

# Qstash
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""
QSTASH_TOKEN=""
QSTASH_URL=""