:root {
  --primary-50: 239 246 243;
  --primary-200: 214 221 218;
  --primary-300: 173 187 181;
  --primary-400: 131 153 144;
  --primary-500: 49 85 70;
  --primary-600: 39 68 56;
  --primary-700: 29 51 42;
  --primary-800: 20 34 28;
  --primary-900: 10 17 14;
  --primary-950: 9 16 13;
  --surface-0: 255 255 255;
  --surface-50: 242 242 240;
  --surface-100: 230 228 225;
  --surface-200: 204 201 196;
  --surface-300: 179 175 166;
  --surface-400: 153 148 137;
  --surface-500: 128 121 107;
  --surface-600: 102 97 86;
  --surface-700: 77 73 64;
  --surface-800: 51 48 43;
  --surface-900: 26 24 21;
  --surface-950: 13 12 11;
}

@font-face {
  font-family: 'Mukta';
  src: url('@/assets/fonts/Mukta-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Mukta';
  src: url('@/assets/fonts/Mukta-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mukta';
  src: url('@/assets/fonts/Mukta-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mukta';
  src: url('@/assets/fonts/Mukta-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'MsMadi';
  src: url('@/assets/fonts/MsMadi-Regular.ttf');
  font-weight: 300;
}